---
import '@fontsource/atkinson-hyperlegible';
import '@fontsource/cabin-sketch';
import About from '../components/About.astro'
import BaseHead from '../components/BaseHead.astro';
import Crowdfunding from '../components/Crowdfunding.astro';
import Header from '../components/Header.astro';
import Live from '../components/Live.astro'
import Logo from '../components/Logo.astro';
import Watch from '../components/Watch.astro'
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Logo />
		<!--
		<Watch />
		<Live />
		<About />
		<Crowdfunding />
		 -->
		<Footer />
	</body>
</html>
