---
import '@fontsource-variable/lexend';
import About from '../components/About.astro'
import BaseHead from '../components/BaseHead.astro';
import Contact from '../components/Contact.astro';
import Crowdfunding from '../components/Crowdfunding.astro';
import FromDarkToLight from '../components/FromDarkToLight.astro';
import FromLightToDark from '../components/FromLightToDark.astro';
import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import Listen from '../components/Listen.astro'
import Podcasts from '../components/Podcasts.astro';
import WhoAreWe from '../components/WhoAreWe.astro'
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Logo />
		<Listen />
		<About />
		<FromLightToDark />
		<WhoAreWe />
		<Podcasts />
		<FromDarkToLight />
		<Contact />
		<!--<Crowdfunding />-->
		<FromLightToDark />
		<Footer />
	</body>
</html>
