---
const { fileName } = Astro.props;
---
<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<div class="picture">
    <img class="myImg" src={fileName} />
</div>

<style>
    .picture {

    }
</style>