---
import GalleryPicture from './GalleryPicture.astro';
const baseDir = 'live/';
---

<p>
    <div class="photos">
        <GalleryPicture fileName={ baseDir + 'live1.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live2.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live3.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live4.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live5.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live6.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live7.jpg' }/>
        <GalleryPicture fileName={ baseDir + 'live8.jpg' }/>
    </div>
</p>

<style>
    .photos {
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
</style>