---
import LiveGallery from './LiveGallery.astro';
---

<div id="Live">
	<main>
		<h2>Eventos ao vivo!</h2>

		<p>Além do conteúdo online, também trabalhamos com apresentações em palcos.</p>

		<LiveGallery />
	</main>
</div>

<style>
	div {
		color: var(--cinza-mais-claro);
	}

	main {
		padding: 3em auto;
	}

	h2 {
		color: var(--branco);
		text-align: center;
		margin: 0 auto;
	}

	p {
		color: var(--cinza-mais-claro);
		text-align: center;
		margin: 1em auto 0;
	}

	a {
		color: var(--branco);
	}

	a:hover {
		color: var(--cinza);
	}
</style>
