---
const logo = '/reinaldo-jaqueline.png';
---

<div class="logo">
	<img src={logo} />
</div>
<style>
	div {
		line-height: 0;
	}

	.logo {
		text-align: center;
		margin: 0 auto;
		background: linear-gradient(var(--azul-escuro-fundo) 15%, var(--azul-medio-fundo) 50%, var(--azul-claro-fundo) 85%);
	}
</style>
