<div class="columns">
	<div class="column">
		<textarea id="inputText"></textarea>
		<button id="button">Converter</button>
	</div>

	<div class="column">
		<textarea id="resultText"></textarea>
	</div>
</div>

<script>
	let button = document.querySelector('button');
	if (button) {
		button.addEventListener ('click', () => {
			try {
				let input = document.getElementById("inputText") as HTMLInputElement;
				let result = document.getElementById("resultText") as HTMLInputElement;
				let finalText = '';
				let count = 1;
				if (input && result) { 
					let textArray = input.value.split('\n');
					let length = textArray.length;
					textArray?.forEach((line) => {
						if (count < length) {
							finalText += line + ' | ';
							count++;
						}
						else {
							finalText += line;
						}
					})
					result.value = finalText;
				}
				// Do something with the data
			} catch (error) {
				if (error instanceof Error) {
				console.error(error.message);
				}
			}
		})
	}
</script>

<style>
	.columns {
		height: 40em;
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	}
	.columns .column textarea {
		height: 100%;
		resize: none;
	}

</style>
