---
import Podcast from './Podcast.astro';
---

<div id="Podcasts" class="dark-section">
	<main>
		<div class="title">
			<h3>Que você pode conhecer destes outrros podcasts</h3>
		</div>
		<div class="podcasts">
			<Podcast title="Dentro da minha cabeça" id="dentro-da-minha-cabeca" url="https://dentrodaminhacabeca.com.br"/>
			<Podcast title="História em meia hora" id="historia-em-meia-hora" url="https://historiaemmeiahora.com/"/>
			<Podcast title="História pros brother" id="historia-pros-brother" url="https://open.spotify.com/show/04a8C8gXTLj68lmZiQD8vm?si=JwK9pw3dQuiuhNay3G9U-g&nd=1&dlsi=663b1a4015454427"/>
			<Podcast title="Mau Acompanhado" id="mau-acompanhado" url="https://jovemnerd.com.br/podcasts/mau-acompanhado"/>
			<Podcast title="Pauta Livre News" id="pauta-livre-news" url="https://omny.fm/shows/pauta-livre-news/playlists/podcast"/>
			<Podcast title="Pelada na Net" id="pelada-na-net" url="https://peladananet.com.br"/>
			<Podcast title="This Is Brazil" id="this-is-brazil" url="https://linktr.ee/thisisbrazil"/>
			<Podcast title="Vai te Catar" id="vai-te-catar" url="https://jovemnerd.com.br/podcasts/vaitecatar"/>
		</div>
	</main>
</div>