---
---

<div id="Watch">
	<main>
		<h2>Um programa sobre ilustração e diversão!</h2>

		<p>Um personagem <strong>suspeito</strong> é descrito.</p>

		<p>Você é capaz de <strong>desenhá-lo(a)</strong> a partir das descrições?</p>
	</main>
</div>
<style>
	div {
		color: var(--preto);
		background-color: var(--cinza);
	}

	main {
		padding: 3em auto;
	}

	h2 {
		text-align: center;
		margin: 0 auto;
	}

	p {
		text-align: center;
		margin: 1em auto 0;
	}

	a {
		color: var(--preto);
	}

	a:hover {
		color: var(--cinza);
	}
</style>
