---
import Star from './Star.astro';
---

<div id="WhoAreWe" class="dark-section">
	<main>
        <h2>Apresentado por</h2>
		<div class="stars">
			<Star starName="Vitor Soares" id="profvitor" bluesky="profvitorsoares.bsky.social" twitter="profvitorsoares" instagram="profvitorsoares"
				description="O professor" 
			/>

			<Star starName="Nicolas Queirós" id="nicolas" bluesky="nicolasqueiros.bsky.social" twitter="nicolasqueiros" instagram="nicolasqueiros"
				description="O filmmaker" 
			/>

			<Star starName="Príncipe Vidane" id="vidane" bluesky="principevidane.com.br" twitter="principevidane" instagram="principevidane"
				description="O nenê" 
			/>
		</div>
	</main>
</div>
